.idea/libraries/ant.xml
.idea/libraries/trove.xml
.idea/uiDesigner.xml
out/production/mstparser/bin/conll2mst.py
out/production/mstparser/bin/create_baseline.py
out/production/mstparser/bin/mst-env
out/production/mstparser/bin/mst2conll.py
out/production/mstparser/bin/mst_experiment.py
out/production/mstparser/bin/mst_parse.sh
out/production/mstparser/bin/mst_score.sh
out/production/mstparser/bin/pos_tag.py
out/production/mstparser/data/english_test.conll
out/production/mstparser/data/english_train.conll
out/production/mstparser/data/portuguese/floresta_test.conll
out/production/mstparser/data/portuguese/floresta_train.conll
out/production/mstparser/data/test.ulab
out/production/mstparser/data/train.ulab
out/production/mstparser/dep.model
out/production/mstparser/lib/ant.jar
out/production/mstparser/lib/trove.jar
out/production/mstparser/ALT_README
out/production/mstparser/ALT_TESTBED
out/production/mstparser/CHANGES
out/production/mstparser/LICENSE
out/production/mstparser/README
out/production/mstparser/build.sh
out/production/mstparser/build.xml
out/production/mstparser/make.sh
out/production/mstparser/pom.xml
